  <main>
    <div class="container">
      <h4>会員情報編集</h4>
      <%= form_with model: @customer, url: customers_path, local: true do |f| %>
        <table>
          <tbody>
            <tr>
              <td class="pr-5" style="height: 30px;">氏名</td>
              <td class="pr-5" style="height: 30px;">
                <%=f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
              </td>
              <td>
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
              </td>
            </tr>
            <tr>
              <td class="pr-5" style="height: 30px;">フリガナ</td>
              <td class="pr-5" style="height: 30px;">
                <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
              </td>
              <td>
                <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
              </td>
            </tr>
            <tr>
              <td class="pr-5" style="height: 30px;">メールアドレス</td>
              <td class="pr-5" style="height: 30px;">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </td>
            </tr>
            <tr>
              <td class="pr-5" style="height: 30px;">郵便番号(ハイフンなし)</td>
              <td>
                <%= f.text_field :postal_code, autofocus: true, autocomplete: "pastal_code" %>
              </td>
            </tr>
            <tr>
              <td class="pr-5" style="height: 30px;">住所</td>
              <td>
                <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "col-12" %>
              </td>
            </tr>
            <tr>
              <td class="pr-5" style="height: 30px;">電話番号(ハイフンなし)</td>
              <td>
                <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
              </td>
            </tr>
            <tr>
              <td class="pr-5" style="height: 30px;"></td>
              <td class="pr-5" style="height: 30px;">
                <%= f.submit "編集内容を保存", class: "btn btn-success" %>
              </td>
              <td>
                <%= link_to customers_unsubscribe_path do %>
                  <%= f.submit "退会", class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %> 
    </div>
  </main>