<main>
  <div class="container">
    <h4>注文情報入力</h4>
    <div class="row">
      <div class="col-8">
        <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
        <table>
          <tr>
            <td>
              <strong>支払方法</strong>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: 'checked' %>
              <%= f.label :payment_method, 'クレジットカード' %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
              <%= f.label :payment_method, '銀行振込' %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>お届け先</strong>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.radio_button :address_option, 0, checked: 'checked' %>
              <%= f.label :order_address, "ご自身の住所" %>
              </br>
              〒<%= @customer.postal_code %>
              <%= @customer.address %>
              </br>
              <%= @customer.last_name %>
              <%= @customer.first_name %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.radio_button :address_option, 1 %>
              <%= f.label :order_address, "登録済住所から選択" %>
              </br>
              <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.radio_button :address_option, 2 %>
              <%= f.label :order_address, "新しいお届け先" %>
            </td>
          </tr>
          <tr>
            <td class="pr-5" style="height: 30px;">郵便番号(ハイフンなし)</td>
            <td>
              <%= f.text_field :postal_code %>
            </td>
          </tr>
          <tr>
            <td class="pr-5" style="height: 30px;">住所</td>
            <td>
              <%= f.text_field :address %>
            </td>
          </tr>
          <tr>
            <td class="pr-5" style="height: 30px;">宛名</td>
            <td>
              <%= f.text_field :name %>
            </td>
          </tr>
          <tr>
            <td class="pr-5" style="height: 30px;"></td>
            <td>
              <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
            </td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</main>