<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <nav class="navbar navbar-expand-lg ">
        <div class="container">
        <%= link_to root_path do %>
          <button class="btn btn-default border border-dark">logo</button>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">

          <% if customer_signed_in? %>

            <li>
              <%= link_to destroy_customer_session_path, method: :delete, class: 'btn-default' do %>
                ログアウト
              <% end %>
            </li>
            <% else %>
              <li>
                <%= link_to about_path do %>
                  <button class="btn btn-default border border-dark">About</button>
                <% end %>
              </li>

              <li>

                  <button class="btn btn-default border border-dark">商品一覧</button>

              </li>
              <li>
                <%= link_to new_customer_registration_path do %>
                  <button class="btn btn-default border border-dark">新規登録</button>
                <% end %>
              </li>
              <li>
                <%= link_to new_customer_session_path do %>
                  <button class="btn btn-default border border-dark">ログイン</button>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col"></div>
        </div>
      </div>
    </footer>
  </body>
</html>
